@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cqmvo4');
  src:  url('fonts/icomoon.eot?cqmvo4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cqmvo4') format('truetype'),
    url('fonts/icomoon.woff?cqmvo4') format('woff'),
    url('fonts/icomoon.svg?cqmvo4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
