page-home {

}
.titulo{
	float: right;
}
.fondo{
	background-color: #1A70CE;
	text-align: center;
}
.boton{
	margin-top: 20px;
}
.contenera{
	float:left;
	width:100%;
	height:9em;
	
}
.botonera{
	margin-top: 20px;
	float:center;
	width:24em;
	
	
	margin-left:auto;
	margin-right:auto;

	text-align: center;
}
.redes{
	color: #eee;
	border-radius: 200px;
	width: 70px;
	height: 70px;
	border: 2px solid #eee;
	padding-top: 10px;
	font-size: 40px;
	float: left;
	margin-left: 10px;
}
.footer{
	text-align: center;
	color:#eee;
	margin-top: 25px;
	padding-top: 35px;
}